<div class='add-to-cart mt-8'>
  <a
    href='/products/free-trial-pack'
    class='flex flex-col btn border border-primary w-full px-8 py-4 text-primary text-xl font-bold hover:transform hover:scale-105 transition-transform'
  >
    <p>Undecided? Try our trial pack for free.</p>
    <p class='mt-1 text-primary font-light text-xs'>* Just cover the shipping cost!</p>
  </a>
</div>
