<div class='add-to-cart mt-8'>
  <a
    href='/products/free-trial-pack'
    class='btn border border-primary w-full px-8 py-4 text-primary text-lg font-bold hover:transform hover:scale-105 transition-transform'
  >
    Undecided? Try all three.
  </a>
  <p class='mt-4 text-primary font-light'>* Just cover the shipping cost!</p>
</div>
