<div class='relative w-32 h-32'>
  <div class='absolute inset-0 flex items-center justify-center'>
    {% render 'icon-brain', class: 'w-24 h-24 text-primary/20' %}
  </div>

  <div class='absolute inset-0 flex items-center justify-center overflow-hidden'>
    {% render 'icon-brain', class: 'w-24 h-24 text-primary animate-brain-fill' %}
  </div>

  <div class='absolute -bottom-8 left-1/2 -translate-x-1/2 whitespace-nowrap'>
    <span class='text-primary text-sm font-medium'>Enhancing</span>
    <span class='animate-pulse'>...</span>
  </div>
</div>
