{% layout 'theme.customers' %}

<div id='template'>
  <div id='customer'>
    <!-- Create Customer -->
    <div id='create-customer'>
      <div class='template_header'>
        <h2 class='title text-2xl md:text-4xl mb-2'>Create Account</h2>
        <p class='mb-6'>
          Already have an account?
          <a href='/account/login' class='link-primary link-static text-primary'>Sign In</a>
        </p>
      </div>

      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div class='clearfix large_form flex flex-col mb-4'>
          <label for='first_name' class='login text-sm mb-2'>First Name</label>
          <input type='text' value='' name='customer[first_name]' id='first_name' class='large input-custom' size='30'>
        </div>

        <div class='clearfix large_form flex flex-col mb-4'>
          <label for='last_name' class='login text-sm mb-2'>Last Name</label>
          <input type='text' value='' name='customer[last_name]' id='last_name' class='large input-custom' size='30'>
        </div>

        <div class='clearfix large_form flex flex-col mb-4'>
          <label for='email' class='login text-sm mb-2'>Email Address</label>
          <input type='email' value='' name='customer[email]' id='email' class='large input-custom' size='30'>
        </div>

        <div class='clearfix large_form flex flex-col mb-4'>
          <label for='password' class='login text-sm mb-2'>Password</label>
          <input
            type='password'
            value=''
            name='customer[password]'
            id='password'
            class='large input-custom password'
            size='30'
          >
        </div>

        <div class='action_bottom mt-3 flex flex-col gap-8'>
          <button type='submit' class='btn-outline-primary text-white w-full' value='Create'>Create</button>
          <!-- <a href='{{ shop.url }}' class='link-primary'>Return to Store</a> -->
        </div>
      {% endform %}
    </div>
    <!-- /#create-customer -->
  </div>
</div>
