<section id='benefits-banner' class='w-full'>
  <div class='container-custom'>
    <div class='flex flex-wrap justify-center gap-8'>
      <div class='fade-in flex flex-col md:flex-row items-center md:items-center group'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='icon icon-clock h-12 w-12 text-primary mr-3 group-hover:scale-110 transition-transform'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        >
          <circle cx="12" cy="12" r="10"/>
          <polyline points="12 6 12 12 16 14"/>
        </svg>
        <p class='text-white'>Focus kicks in: <span class='text-primary font-semibold'>30 minutes</span></p>
      </div>

      <div class='fade-in flex flex-col md:flex-row items-center md:items-center group transition delay-200'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='icon icon-users h-12 w-12 text-primary mr-3 group-hover:scale-110 transition-transform'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        >
          <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
          <circle cx="9" cy="7" r="4" />
          <path d="M23 21v-2a4 4 0 00-3-3.87" />
          <path d="M16 3.13a4 4 0 010 7.75" />
        </svg>
        <p class='text-white'>Clinically tested ingredients</p>
      </div>

      <div class='fade-in flex flex-col md:flex-row items-center md:items-center group transition delay-200'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='icon icon-shield h-12 w-12 text-primary mr-3 group-hover:scale-110 transition-transform'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        >
          <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/>
        </svg>
        <p class='text-white'>Zero crash guarantee</p>
      </div>
    </div>
  </div>
</section>
