<div class='blog-content py-[36px] w-full font-inter text-base'>
  {{ article.content }}
</div>

{% schema %}
{
  "name": "Blog Content",
  "settings": [],
  "presets": [
    {
      "name": "Blog Content"
    }
  ]
}
{% endschema %}
