{% comment %}Article template{% endcomment %}

<div class='container-custom py-24'>
  {% section 'blog-hero' %}
  <main class='w-full sm:max-w-[75vw] xl:max-w-[50vw] mx-[auto]'>
    <h1 class='pt-[36px] pb-1 text-inter text-bold text-4xl'>{{ article.title }}</h1>
    {% section 'blog-meta' %}
    {% section 'blog-content' %}
  </main>
</div>
