{% comment %}Homepage template{% endcomment %}

<div class='min-h-screen'>
  {% section 'hero' %}
  {% section 'neural-performance' %}
  {% section 'flavor-experience' %}
  <!-- {% section 'lifestyle-performance' %} -->
  {% section 'cognitive-benefits' %}
  <!-- {% section 'scientific-credibility' %} -->
  {% section 'pricing' %}
  <!-- {% section 'testimonials' %} -->
  {% section 'comparison' %}
  <section class='section-padding bg-darker relative'>
    <div class='container-custom relative z-10 max-w-4xl mx-auto'>
      {% section 'faq' %}
    </div>
  </section>
</div>
