{% comment %}Homepage template{% endcomment %}

<div class='min-h-screen'>
  {% section 'hero' %}
  {% section 'neural-performance' %}
  {% section 'flavor-experience' %}
  <!-- {% section 'lifestyle-performance' %} -->
  {% section 'cognitive-benefits' %}
  <!-- {% section 'scientific-credibility' %} -->
  {% section 'pricing' %}
  {% section 'nat-geo' %}
  {% section 'comparison' %}
</div>
