<div class='terms-temp container-custom py-24'>
  <!-- DEBUG PAGE.TERMS.LIQUID -->
  {% section 'legal-hero' %}
  <main class='w-full sm:max-w-[75vw] xl:max-w-[50vw] mx-[auto]'>
    <h1 class='pt-[36px] pb-1 text-inter text-bold text-4xl'>{{ page.title }}</h1>
    <!-- {% section 'legal-content' %} -->
  </main>
</div>
