{% comment %}Product template{% endcomment %}

<main id='product-page-content' class='mt-20'>
  {% section 'main-product' %}
  {% section 'product-info' %}
  {% section 'product-collapse' %}
  {% section 'product-compare' %}
</main>
