{% comment %}Product template{% endcomment %}

<div id='product-page-content' class='h-full'>
  {% section 'new-product' %}
  {% section 'product-tabs' %}
  {% section 'pdp-faq' %}
  {% section 'newsletter-signup' %}
</div>
