{% comment %}Product template{% endcomment %}

<div id='product-page-content' class='h-full'>
  {% section 'product' %}
  <section class='px-8'>
    {% section 'pdp-testimonials' %}
  </section>
</div>
