{% comment %}Product template{% endcomment %}

<div id='product-page-content' class='h-full'>
  {% section 'product' %}
  <section class='px-8 pb-8'>
    {% section 'pdp-testimonials' %}
    {% section 'how-it-works' %}
    {% section 'how-to-use' %}
    {% section 'the-solution' %}
    {% section 'still-not-convinced' %}
  </section>
</div>
