{% comment %}Product template{% endcomment %}

<div id='product-page-content' class='mt-36'>
  {% section 'main-product' %}
  {% section 'product-info' %}
  {% section 'product-collapse' %}
  {% section 'product-compare' %}
</div>
